@import "./index.scss";
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-60 {
  padding-top: 60px;
}
.logout {
  font-size: 12px;
  margin-left: -5px;
}
a {
  text-decoration: none;
}
.MiniDrawer-content-9 {
  overflow: auto;
}
